<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdfc.chattingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/info_board_icon"
        android:label="Lifesupport Infoboard"
        android:roundIcon="@mipmap/info_board_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".find_profiles"></activity>
        <activity android:name=".add_chats" />
        <activity android:name=".billboard" />
        <activity android:name=".username" />
        <activity android:name=".settings" />
        <activity android:name=".dashboard" />
        <activity android:name=".sign_up" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>